<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{strategy:-main}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STRATEGY_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="com.qkt.cli.daemon.logging.StrategyFilenameDiscriminator"/>
        <sift>
            <appender name="FILE-${strategy_filename}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${QKT_STATE_DIR:-${user.home}/.local/state/qkt}/logs/${strategy_filename}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${QKT_STATE_DIR:-${user.home}/.local/state/qkt}/logs/${strategy_filename}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                    <maxFileSize>50MB</maxFileSize>
                    <maxHistory>7</maxHistory>
                    <totalSizeCap>500MB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>%d{ISO8601} [%level] %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STRATEGY_FILE"/>
    </root>
</configuration>
